/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

$main-color: #f2f2f2;
$main-background-color: darken( red, 20% );

#navTop{    
    width: 100%;
    display:block;
   // @include background-image(linear-gradient(top, darken(red,10%), $main-background-color)); 
    color: white;
    font-size: 25px;
    text-align: center;
    position: fixed;	
    z-index:9;
    color: $main-color;   
}

.sideGradient{
    @include background-image(linear-gradient(left, $main-background-color , darken(red,10%))); 
    height: 55px;
}

.gradientBackground{
    @include background-image(linear-gradient(top, #FFFFFF, #B8AE9C )); 
}

.hiddenTop{
    margin-top: -100px;
    padding-top: 15px;
    height: 50px;
    @include background-image(linear-gradient(top, darken(red,10%), $main-background-color)); 
}

.test{
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

#navigation{
    z-index: 9;
}

.section{
    text-align: center;
    font-size: 100px;
    color: $main-color;
}

a{
    color: $main-color;
    text-decoration: none;
    font-size: 0.7em;
}

a:hover{
    color: darken($main-color, 20%);   
}    

.powitanie{
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    margin: 5px;
}

.navbox{
    height: 55px;
    background-color: $main-background-color;
    
}

.navbox:hover{
    background-color: darken( $main-background-color, 5% );
}

.user_page_1{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 500px;
    border: 1px solid black;
}

.top_margin{
    margin-top: 100px;   
}

.user_info{
    border: 1px solid black;
    height: 500px;
    background-color: #595241;
    color: #FFFFFF;
    font-weight: bold;
}

.center{
    text-align: center;   
}

#teams{
    height: 300px;
    overflow: scroll;
}

.team{
    padding: 10px;  
    height: 60px;
    font-family:fantasy;
    font-size: 20px;
    
    img{
        widht: 40px;
        height: 40px;
        margin-right: 15px;
    }
}

.avatar{
    width: 100%;
    border: 1px solid black;
}

.hidden{
    visibility: hiden;
}

.login{
    width: 60%;
    height: 60px;
    margin: 0 auto;
}

.button_main{
    display: block;
    margin: 2%;
    padding: 10px;    
    width: 40%;
    height: 100%;
    nt-size: 40%;
    border: 3px outset black;
    float: left;
    font-family: fantasy;
    line-height: 60px;
    @include border-radius(10px);
    //@include background-image(radial-gradient(10px 10px, cyan 30px, dodgerblue 60px));
    @include background-image(linear-gradient(top, darken(cyan, 8%), dodgerblue));
     
}

.loading{
    margin: 0 auto;   
}

.galleryImg{
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
}

#section1{
    @include background-image(linear-gradient(top, #4bbfc3, #636F8F));
}

.button_loginSmall{   
    padding: 10px;
    @include border-radius(10px);
    font-family: fantasy;
    margin: 10px;
    @include background-image(linear-gradient(top, darken(cyan, 8%), dodgerblue));
}

#logo{
    width: 100px;   
    position: absolute;
    left: 20px;
}

#hoop{
    float: right;
    width: 330px;    
    margin-top: 40px;    
}

#player{
    margin-top: 150px;
    position: absolute;
    left: -200px;
    
}

.boxContainer{
    margin: 10%;
    width: 40%;
    height: 80%;
    color: black;
    float: left;    


    // lista na sekcji 2

    * {margin: 0; padding: 0;}
    
    #listEl1{
         @include background-image(linear-gradient(top, #1695A3, #ACF0F2));
    }
    
    #listEl2{
         @include background-image(linear-gradient(top, #ACF0F2, #F3FFE2));
    }
    
    #listEl3{
         @include background-image(linear-gradient(top, #F3FFE2, #EB7F00));
    }
    
    ul {
      list-style-type: none;
      width: 500px;
    }

    h3 {
      font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
    }
    
    li{
        margin : 10px 0;
        margin-left: -30px;
        opacity: 0;
    }

    li img {
      float: left;
      margin: 0 15px 0 0;
      width: 150px;
      height: 150px;
    }

    li p {
      font: 200 12px/1.5 Georgia, Times New Roman, serif;
    }

    li {
      padding: 10px;
      overflow: auto;
    }

    li:hover {
      background: #eee;
      cursor: pointer;

    }
    
}

body{
    height: 100%;
    width: 100%;    
}

.login_gradient{
    display: block;
    @include background-image(linear-gradient(top, darken(cyan, 8%), dodgerblue));
    height: 100%;
}

.dark-matter {
    width: 400px;
    margin: 50px auto;
    background: #333;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #000;
    border:none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.dark-matter h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
    color: #FFF;
}
.dark-matter h1>span {
    display: block;
    font-size: 11px;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 5px;
}
.dark-matter label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter input[type="password"], .dark-matter textarea, .dark-matter select{
    border: none;
    color: #4B4B4B;
    height: 20px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    width: 68%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.dark-matter select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}
.dark-matter textarea{
    height:100px;
}
.dark-matter input[type="submit"] {
    background: #FFF;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.dark-matter input[type="submit"]:hover {
    color: #333;
    background-color: #EBEBEB;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#formJoinTeam{
    padding: 10px;
    font-family: fantasy;
}