/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$main-color: #f2f2f2;

#navTop{
    height: 50px;
    width: 100%;
    display:block;
    background-color: darken( red, 20% );
    color: white;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    position: fixed;	
    z-index:9;
    color: $main-color;
}

#navigation{
    z-index: 9;
}

.section{
    text-align: center;
    font-size: 100px;
    color: $main-color;
}