/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
#navTop {
  width: 100%;
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  position: fixed;
  z-index: 9;
  color: #f2f2f2;
}

/* line 24, ../sass/screen.scss */
.sideGradient {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #990000), color-stop(100%, #cc0000));
  background-image: -webkit-linear-gradient(left, #990000, #cc0000);
  background-image: -moz-linear-gradient(left, #990000, #cc0000);
  background-image: -o-linear-gradient(left, #990000, #cc0000);
  background-image: linear-gradient(left, #990000, #cc0000);
  height: 55px;
}

/* line 29, ../sass/screen.scss */
.gradientBackground {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b8ae9c));
  background-image: -webkit-linear-gradient(top, #ffffff, #b8ae9c);
  background-image: -moz-linear-gradient(top, #ffffff, #b8ae9c);
  background-image: -o-linear-gradient(top, #ffffff, #b8ae9c);
  background-image: linear-gradient(top, #ffffff, #b8ae9c);
}

/* line 33, ../sass/screen.scss */
.hiddenTop {
  margin-top: -100px;
  padding-top: 15px;
  height: 50px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cc0000), color-stop(100%, #990000));
  background-image: -webkit-linear-gradient(top, #cc0000, #990000);
  background-image: -moz-linear-gradient(top, #cc0000, #990000);
  background-image: -o-linear-gradient(top, #cc0000, #990000);
  background-image: linear-gradient(top, #cc0000, #990000);
}

/* line 40, ../sass/screen.scss */
.test {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

/* line 46, ../sass/screen.scss */
#navigation {
  z-index: 9;
}

/* line 50, ../sass/screen.scss */
.section {
  text-align: center;
  font-size: 100px;
  color: #f2f2f2;
}

/* line 56, ../sass/screen.scss */
a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 0.7em;
}

/* line 62, ../sass/screen.scss */
a:hover {
  color: #bfbfbf;
}

/* line 66, ../sass/screen.scss */
.powitanie {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
  margin: 5px;
}

/* line 73, ../sass/screen.scss */
.navbox {
  height: 55px;
  background-color: #990000;
}

/* line 79, ../sass/screen.scss */
.navbox:hover {
  background-color: maroon;
}

/* line 83, ../sass/screen.scss */
.user_page_1 {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 500px;
  border: 1px solid black;
}

/* line 90, ../sass/screen.scss */
.top_margin {
  margin-top: 100px;
}

/* line 94, ../sass/screen.scss */
.user_info {
  border: 1px solid black;
  height: 500px;
  background-color: #595241;
  color: #FFFFFF;
  font-weight: bold;
}

/* line 102, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 106, ../sass/screen.scss */
#teams {
  height: 300px;
  overflow: scroll;
}

/* line 111, ../sass/screen.scss */
.team {
  padding: 10px;
  height: 60px;
  font-family: fantasy;
  font-size: 20px;
}
/* line 117, ../sass/screen.scss */
.team img {
  widht: 40px;
  height: 40px;
  margin-right: 15px;
}

/* line 124, ../sass/screen.scss */
.avatar {
  width: 100%;
  border: 1px solid black;
}

/* line 129, ../sass/screen.scss */
.hidden {
  visibility: hiden;
}

/* line 133, ../sass/screen.scss */
.login {
  width: 60%;
  height: 60px;
  margin: 0 auto;
}

/* line 139, ../sass/screen.scss */
.button_main {
  display: block;
  margin: 2%;
  padding: 10px;
  width: 40%;
  height: 100%;
  nt-size: 40%;
  border: 3px outset black;
  float: left;
  font-family: fantasy;
  line-height: 60px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d6d6), color-stop(100%, #1e90ff));
  background-image: -webkit-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: -moz-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: -o-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: linear-gradient(top, #00d6d6, #1e90ff);
}

/* line 156, ../sass/screen.scss */
.loading {
  margin: 0 auto;
}

/* line 160, ../sass/screen.scss */
.galleryImg {
  width: 100px;
  height: 100px;
  float: left;
  margin: 5px;
}

/* line 167, ../sass/screen.scss */
#section1 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4bbfc3), color-stop(100%, #636f8f));
  background-image: -webkit-linear-gradient(top, #4bbfc3, #636f8f);
  background-image: -moz-linear-gradient(top, #4bbfc3, #636f8f);
  background-image: -o-linear-gradient(top, #4bbfc3, #636f8f);
  background-image: linear-gradient(top, #4bbfc3, #636f8f);
}

/* line 171, ../sass/screen.scss */
.button_loginSmall {
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-family: fantasy;
  margin: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d6d6), color-stop(100%, #1e90ff));
  background-image: -webkit-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: -moz-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: -o-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: linear-gradient(top, #00d6d6, #1e90ff);
}

/* line 179, ../sass/screen.scss */
#logo {
  width: 100px;
  position: absolute;
  left: 20px;
}

/* line 185, ../sass/screen.scss */
#hoop {
  float: right;
  width: 330px;
  margin-top: 40px;
}

/* line 191, ../sass/screen.scss */
#player {
  margin-top: 150px;
  position: absolute;
  left: -200px;
}

/* line 198, ../sass/screen.scss */
.boxContainer {
  margin: 10%;
  width: 40%;
  height: 80%;
  color: black;
  float: left;
}
/* line 208, ../sass/screen.scss */
.boxContainer * {
  margin: 0;
  padding: 0;
}
/* line 210, ../sass/screen.scss */
.boxContainer #listEl1 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1695a3), color-stop(100%, #acf0f2));
  background-image: -webkit-linear-gradient(top, #1695a3, #acf0f2);
  background-image: -moz-linear-gradient(top, #1695a3, #acf0f2);
  background-image: -o-linear-gradient(top, #1695a3, #acf0f2);
  background-image: linear-gradient(top, #1695a3, #acf0f2);
}
/* line 214, ../sass/screen.scss */
.boxContainer #listEl2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #acf0f2), color-stop(100%, #f3ffe2));
  background-image: -webkit-linear-gradient(top, #acf0f2, #f3ffe2);
  background-image: -moz-linear-gradient(top, #acf0f2, #f3ffe2);
  background-image: -o-linear-gradient(top, #acf0f2, #f3ffe2);
  background-image: linear-gradient(top, #acf0f2, #f3ffe2);
}
/* line 218, ../sass/screen.scss */
.boxContainer #listEl3 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3ffe2), color-stop(100%, #eb7f00));
  background-image: -webkit-linear-gradient(top, #f3ffe2, #eb7f00);
  background-image: -moz-linear-gradient(top, #f3ffe2, #eb7f00);
  background-image: -o-linear-gradient(top, #f3ffe2, #eb7f00);
  background-image: linear-gradient(top, #f3ffe2, #eb7f00);
}
/* line 222, ../sass/screen.scss */
.boxContainer ul {
  list-style-type: none;
  width: 500px;
}
/* line 227, ../sass/screen.scss */
.boxContainer h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}
/* line 231, ../sass/screen.scss */
.boxContainer li {
  margin: 10px 0;
  margin-left: -30px;
  opacity: 0;
}
/* line 237, ../sass/screen.scss */
.boxContainer li img {
  float: left;
  margin: 0 15px 0 0;
  width: 150px;
  height: 150px;
}
/* line 244, ../sass/screen.scss */
.boxContainer li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
/* line 248, ../sass/screen.scss */
.boxContainer li {
  padding: 10px;
  overflow: auto;
}
/* line 253, ../sass/screen.scss */
.boxContainer li:hover {
  background: #eee;
  cursor: pointer;
}

/* line 261, ../sass/screen.scss */
body {
  height: 100%;
  width: 100%;
}

/* line 266, ../sass/screen.scss */
.login_gradient {
  display: block;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00d6d6), color-stop(100%, #1e90ff));
  background-image: -webkit-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: -moz-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: -o-linear-gradient(top, #00d6d6, #1e90ff);
  background-image: linear-gradient(top, #00d6d6, #1e90ff);
  height: 100%;
}

/* line 272, ../sass/screen.scss */
.dark-matter {
  width: 400px;
  margin: 50px auto;
  background: #333;
  padding: 20px 30px 20px 30px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888;
  text-shadow: 1px 1px 1px #000;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 285, ../sass/screen.scss */
.dark-matter h1 {
  font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #444;
  margin: -10px -30px 30px -30px;
  color: #FFF;
}

/* line 293, ../sass/screen.scss */
.dark-matter h1 > span {
  display: block;
  font-size: 11px;
}

/* line 297, ../sass/screen.scss */
.dark-matter label {
  display: block;
  margin: 0px 0px 5px;
}

/* line 301, ../sass/screen.scss */
.dark-matter label > span {
  float: left;
  width: 80px;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* line 311, ../sass/screen.scss */
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter input[type="password"], .dark-matter textarea, .dark-matter select {
  border: none;
  color: #4B4B4B;
  height: 20px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 6px 12px;
  width: 68%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 329, ../sass/screen.scss */
.dark-matter select {
  background: white url("down-arrow.png") no-repeat right;
  background: white url("down-arrow.png") no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 72%;
  height: 30px;
}

/* line 340, ../sass/screen.scss */
.dark-matter textarea {
  height: 100px;
}

/* line 343, ../sass/screen.scss */
.dark-matter input[type="submit"] {
  background: #FFF;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #333;
  border-radius: 4px;
}

/* line 350, ../sass/screen.scss */
.dark-matter input[type="submit"]:hover {
  color: #333;
  background-color: #EBEBEB;
}

/* line 355, ../sass/screen.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}

/* line 359, ../sass/screen.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* line 375, ../sass/screen.scss */
#formJoinTeam {
  padding: 10px;
  font-family: fantasy;
}
